<div class="itemsDiv">
<mat-card class="items">
  <img mat-card-image src="../../../../assets/img/zeca7.jpeg">
</mat-card>
<mat-card class="items">
  <img mat-card-image src="../../../../assets/img/zeca7.jpeg">
</mat-card>
<mat-card class="items">
  <img mat-card-image src="../../../../assets/img/zeca7.jpeg">
</mat-card>
<mat-card class="items">
  <img mat-card-image src="../../../../assets/img/zeca5.jpeg">
</mat-card>
<mat-card class="items">
  <img mat-card-image src="../../../../assets/img/zeca7.jpeg">
</mat-card>
</div>