<header class="container-sidebar">
  <mat-card class="foto-sidebar">
   <img mat-card-image src="../../../../assets/img/zeca6.jpg">
  </mat-card>
  <h2> ZECA</h2>
  <!-- <mat-drawer-container> -->
    <!-- <mat-drawer> -->
      <div class="button-sidebar">
          <mat-icon>
          home
        </mat-icon>
        <mat-list-item>
          <a>HOME</a>
        </mat-list-item>
      </div>
      <div class="button-sidebar">
        <mat-icon>
          pets
        </mat-icon>
        <mat-list-item>
          <a>PETS</a>
        </mat-list-item>
      </div>
      <div class="button-sidebar">
        <mat-icon>
          chat
        </mat-icon>
        <mat-list-item>
          <a>MESSAGE</a>
        </mat-list-item>
      </div>
      <div class="button-sidebar">
        <mat-icon>
          local_activity
        </mat-icon>
        <mat-list-item>
          <a>ACTIVITY</a>
        </mat-list-item>
      </div>
      <div class="button-sidebar">
        <mat-icon>
          mood
        </mat-icon>
        <mat-list-item>
          <a>OUR SERVICES</a>
        </mat-list-item>
      </div>
      <div class="button-sidebar">
        <mat-icon>
          settings
        </mat-icon>
        <mat-list-item>
          SETTINGS
        </mat-list-item>
      </div>
    <!-- </mat-drawer> -->
  <!-- </mat-drawer-container> -->
</header>

